body{
	font-size: 16px;
	font-family: Open Sans, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	line-height: 1.6;
	padding: 20px;
	border: 4px solid limegreen;
	margin: 2% 10%;
	background: lightyellow;
}